commands:

  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:

  "/etc/httpd/conf.d/vhost.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
      ServerName default:80
      DocumentRoot /var/www/html
      </VirtualHost>

      <VirtualHost *:80>
      DocumentRoot "/var/www/html"
      ServerName blocks.local
      <Directory "/var/www/html">
      AllowOverride All
      Require all granted
      </Directory>
      </VirtualHost>

  "/tmp/setup.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      
      # Install ffmpeg
      cd /usr/local/bin
      wget https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-64bit-static.tar.xz
      mkdir ffmpeg
      tar -xf ffmpeg-git-64bit-static.tar.xz -C ffmpeg --strip-components=1
      ln -s /usr/local/bin/ffmpeg/ffmpeg /usr/bin/ffmpeg
      ln -s /usr/local/bin/ffmpeg/ffprobe /usr/bin/ffprobe

      # Install phantomj
      cd /usr/local/bin
      wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
      mkdir phantomjs && tar -xf phantomjs-2.1.1-linux-x86_64.tar.bz2 -C phantomjs --strip-components=1
      ln -s /usr/local/bin/phantomjs/bin/phantomjs /usr/bin/phantomjs

      # add to hosts file
      echo "127.0.0.1   blocks.local" >> /etc/hosts

  "/tmp/start-video-bot.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      mkdir /var/app/current/log
      touch /var/app/current/log/video-bot.log
      php /var/app/current/VideoBot/daemon/run.php > /var/app/current/log/video-bot.log &

  "/opt/elasticbeanstalk/hooks/appdeploy/post/some_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_CURRENT
      # kill old bot
      ps -ef | grep '/var/app/current/VideoBot/daemon/run.php' | awk '{print $2}' | grep -v 'grep' | xargs kill
      # start new bot
      mkdir /var/app/current/log
      touch /var/app/current/log/video-bot.log
      php VideoBot/daemon/run.php > /var/app/current/log/video-bot.log &

container_commands:

  01_run_setup:
    command: "/tmp/setup.sh" 
